.panelBox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(35, 35, 35, 0.2);
	display: flex;
	align-items: center;
	justify-content: center;
}

.panel {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	z-index: 3;
	width: 500px;
	height: 500px;
	background-color: white;
	border-radius: 6px;
	box-shadow: 0 0 12px 0 #00000073;
	padding: 5px;
	justify-content: space-between;
}

.panel h2 {
	width: 100%;
	text-align: center;
	font-size: 21px;
	font-weight: 500;
}

.buttonRow {
	width: 100%;
	display: flex;
}

.done-button, .cancel-button {
	background: rgba(203, 213, 253, 0.33);
	width: 100%;
	margin: 2px;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 7px 12px 7px 7px;
	cursor: pointer;
}

.cancel-button {
	background: rgba(203, 213, 253, 0.10);
	width: 150px;
}

.cancel-button:hover {
	background: rgba(203, 213, 253, 0.33);
}

.done-button span, .cancel-button span {
	font-size: larger;
	position: relative;
	top: 3px;
	left: 4px;
}

.done-button:hover {
	background: rgba(203, 213, 253, 0.66);
}


.form-check-label {	max-width: 70%; }
.form-check-label, .form-switch, .form-check-input { cursor: pointer; }
.form-switch { position: relative; left: 5px; }
.form-switch:hover > .form-check-label { color: #245075; }

.todo-actions-cell {
	display: inline-flex;
	align-items: center;
	gap: 8px;
}
