* {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.settings-button, .save-button {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 30px;
	margin-right: 7px;
}

.button {
	border: none;
	color: white;
	padding: 13px 32px;
	box-shadow: 0 0 12px 0 #00000073,
	inset 0 0 12px 0 #00000073;
	text-align: center;
	text-decoration: none;
	/*display: inline-block;*/
	font-size: 14px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 6px;
	transition: all 0.3s;

	display: flex;
	flex-direction: column;
}

.shortcut {
	font-size: 12px;
	color: #ddd;
	margin-top: -4px;
}

.menu {
	display: inline-table;
	position: absolute;
	top: 55px;
	left: 15px;
}

.speech-bubble {
	position: relative;           /* needed for the triangle positioning */
	background: #4CAF50;          /* bubble color */
	color: white;
	padding: 10px 15px;
	border-radius: 10px;
	display: inline-block;
	max-width: 200px;
}

/* triangle */
.speech-bubble::after {
	content: "";
	position: absolute;
	bottom: -10px;               /* move below the bubble */
	left: 20px;                   /* horizontal offset */
	border-width: 10px;           /* size of the triangle */
	border-style: solid;
	border-color: #4CAF50 transparent transparent transparent; /* triangle pointing down */
}
