* {
	position: relative;
	top: 1px;
}

menu {
	padding: 5px;
	background: linear-gradient(180deg, white, transparent);
	/*backdrop-filter: blur(10px);*/

	/*backdrop-filter: blur(10px);*/
	/*-webkit-backdrop-filter: blur(10px);*/
	/*background: rgba(255, 255, 255, 0.5);*/
	/*border-radius: 15px;*/
	/*box-shadow: 0 0 24px 0 black;*/
	/*padding: 8px 16px;*/

}

ul {
	position: absolute;
	top: 28px;
	background: white;
	padding: 8px;
	border-radius: 8px;
	box-shadow: 0 0 14px 0 #0000005c;
}
