main {
    display: flex;
    width: 100vw;
    height: 100vh;
}

app-palette {
    width: 200px;
    box-shadow: -1px 0 24px 0 black;
    border-radius: 0 15px 15px 0;
}

@media (max-width: 768px) {
    /* TODO make mobile version */
    app-palette {
        width: 100vw !important; /* (doesnt work) */
    }
}
