main {
	display: flex;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	/*align-items: center;*/
	overflow-y: auto;
	align-items: flex-start;
}

header {
	position: absolute;
	top: 0;
	left: 50vw;
	transform: translate(-50%, 0);
	z-index: 5;
}
