<div class="panelBox" (click)="this.globals.savePanel_open.set(false)"
	 [style.display]="this.globals.savePanel_open() ? 'flex' : 'none'">

	<div class="alert alert-primary flex p-2" role="alert" style="margin: 20px"><p>
		<span class="material-symbols-outlined"
			  style="font-size: larger; position: relative; top: 4px; left: 0; margin-right: 4px;">lightbulb</span>
		Quickly save your design to localStorage with <strong>ctrl + S</strong> and it will be loaded next time you open the app!<br>Multiple local save files will be added in the near future!
	</p></div>

	<div class="panel" #panel (click)="$event.stopPropagation()">
		<div class="panelContent">
			<div class="btn-group ml-auto mr-auto" style="margin-left: auto; margin-right: auto" role="group">
				<input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" #save checked
					   (click)="saveOrLoad.set('save'); chosenSaveMethod.set('JSON')"> <!--TODO: change this when localStorage or other save option is added -->
				<label class="btn btn-outline-dark" for="btnradio1">Save</label>

				<input type="radio" class="btn-check" name="btnradio" id="btnradio2" #load autocomplete="off"
					   (click)="saveOrLoad.set('load'); chosenSaveMethod.set('load-JSON')"> <!--TODO: change this when localStorage or other load option is added -->
				<label class="btn btn-outline-dark" for="btnradio2">Load</label>

				<input type="radio" class="btn-check" name="btnradio" id="btnradio3" (click)="newDesign($event)"
					   autocomplete="off">
				<label class="btn btn-outline-dark" for="btnradio3">New design</label>
			</div>

			@if (saveOrLoad() == 'save') {

				<div class="top" style="width: 100%; display: flex; gap: 5px; align-items: center;">
					<label for="method"><b>Method</b></label>

					<select class="form-select" name="method" #saveMethod
							(change)="chosenSaveMethod.set(saveMethod.value)">
<!--						<option value="localStorage">Save to localStorage</option>-->
						<option value="JSON">Export JSON</option>
						<option value="cloud-private">Save privately on cloud</option>
						<option value="cloud-public">Share publicly to cloud</option>
					</select>
				</div>

				<div>
					@switch (saveMethod.value) {
						@case ('JSON') {
							<div class="alert alert-primary flex p-2" role="alert"><p>
								<span class="material-symbols-outlined"
									  style="font-size: larger; position: relative; top: 4px; left: 0; margin-right: 4px;">info</span>
								This will export a JSON file for you to download. You will be able to load it, edit the
								design and export it again. File size: {{ saveLoad.getCurrentDesignSizeLabel() }}
							</p></div>
						}
						@case ('cloud-private') {
							<div class="alert alert-primary flex p-2" role="alert"><p>
								<span class="material-symbols-outlined"
									  style="font-size: larger; position: relative; top: 4px; left: 0; margin-right: 4px;">warning</span>
								Your design will be uploaded to our server but you will be able to access it with your
								secret key.
							</p></div>
						}
						@case ('cloud-public') {
							<div class="alert alert-primary flex p-2" role="alert"><p>
								<span class="material-symbols-outlined"
									  style="font-size: larger; position: relative; top: 4px; left: 0; margin-right: 4px;">warning</span>
								Your design will be uploaded to our server and publicly visible. You will still need to
								provide the secret key for this project if you will want to edit or delete it.
							</p></div>
						}
						@default {
						}
					}
				</div>
			} @else {
				<div class="top" style="width: 100%; display: flex; gap: 5px; align-items: center;">
					<label for="method"><b>Method</b></label>

					<select class="form-select" name="method" #loadMethod
							(change)="chosenSaveMethod.set(loadMethod.value)">
<!--						<option value="load-localStorage">Load from localStorage</option>-->
						<option value="load-JSON">Load from JSON</option>
						<option value="load-cloud">Load from cloud</option>
					</select>
				</div>

				<div>
					@switch (loadMethod.value) {
						@case ('load-JSON') {
							<div class="container py-3">
								<div class="input-group custom-file-button">
									<label class="input-group-text" for="designFile">Design file (JSON)</label>
									<input type="file" class="form-control" id="designFile" accept="application/json">
								</div>
							</div>
						}
						@case ('load-cloud') {

						}
					}
				</div>
			}
		</div>

		<div class="buttonRow">
			<button class="done-button" (click)="saveOrLoad() == 'save' ? executeSave() : executeLoad()">
				<!--				{{ getButtonText() }}-->
				@if (saveOrLoad() == 'save') {
					save
					<span class="material-symbols-outlined">save</span>
				} @else {
					load
					<span class="material-symbols-outlined">folder_open</span>
				}
			</button>
			<button class="cancel-button" (click)="this.globals.savePanel_open.set(false)">
				{{ this.globals.constants.translations.common.cancel }}
				<span class="material-symbols-outlined">cancel</span>
			</button>
		</div>
	</div>
</div>
