<div class="container" id="properties" style="gap: 3px; width: 275px"
	 [style.visibility]="(globals.selected != -1 && !globals.isDragging()) ? 'visible' : 'hidden'">
	@if (globals.selected == -1) {
		<category>no component selected</category>
	}
	@if (globals.selected != -1) {
		<!--else ??-->
		<category>{{ this.globals.constants.translations.componentProperties.section1 }}</category>
		<input type="text" name="componentName" id="componentName"
			   value="{{globals.simulation.circuitComponents()[globals.selected].name}}"
			   placeholder="{{globals.constants.translations.componentProperties.namePlaceholder}}"
			   pattern="^[a-z0-9 _.\-]*$" inputmode="text" autocomplete="off"
			   (input)="change_name($event)" style="text-align: center">

<!--		<div>-->
<!--			<input type="checkbox" name="displayLabel" id="displayLabel"-->
<!--				   [checked]="globals.simulation.circuitComponents()[globals.selected].showLabel"-->
<!--				   (input)="change_showLabel($event)">-->
<!--			<label for="displayLabel" class="select-none">display label</label>-->
<!--		</div>-->

		<div class="form-check">
			<input class="form-check-input" type="checkbox" id="displayLabel"
			       [checked]="globals.simulation.circuitComponents()[globals.selected].showLabel"
			       (input)="change_showLabel($event)">
			<label class="form-check-label" for="displayLabel">
				display label
			</label>
		</div>

		<div class="inline-flex">
			<span>Color: </span>
			<input type="color" name="color" id="color" class="form-control form-control-color"
				   value="{{globals.simulation.circuitComponents()[globals.selected].color}}"
				   (input)="change_color($event)" style="position: relative; top: 1px; left: 3px;">
		</div>

		<category>{{ this.globals.constants.translations.componentProperties.section2 }}</category>

		<div class="input-group">
			<label class="input-group-text" for="posX">x</label>
			<input type="number" class="form-control" placeholder="coordinate" aria-label="-" id="posX"
			       value="{{globals.simulation.circuitComponents()[globals.selected].x}}"
			       (input)="change_x($event)">
		</div>

		<div class="input-group">
			<label class="input-group-text" for="posY">y</label>
			<input type="number" class="form-control" placeholder="coordinate" aria-label="-" id="posY"
			       value="{{globals.simulation.circuitComponents()[globals.selected].y}}"
			       (input)="change_y($event)">
		</div>

		<category>{{ this.globals.constants.translations.componentProperties.section3 }}</category>

		@if (selectedBuzzer(); as buzzer) {
			<div class="flex gap-2">
				Frequency:
				<input type="range" id="volume" min="10" max="2000" step="5" style="width: stretch;"
				       value="{{buzzer.frequency}}" (input)="buzzer_setFrequency($event)" aria-label="Frequency slider">
			</div>

			<div class="input-group">
				<label class="input-group-text" for="frequency">Hz</label>
				<input type="number" class="form-control" placeholder="frequency" aria-label="-"
				       id="frequency" (input)="buzzer_setFrequency($event)"
				       value="{{buzzer.frequency}}">
			</div>

			<div class="flex gap-2">
				Volume:
				<input type="range" id="volume" min="0" max="1" step="0.01" style="width: stretch;"
				       value="{{buzzer.volume}}" (input)="buzzer_setVolume($event)" aria-label="Volume slider">
			</div>

			<div class="input-group" style="align-items: center; gap: 6px;">
				<div class="input-group">
					<label class="input-group-text" for="volume">%</label>
					<input type="number" class="form-control" id="volumeNumber" min="0" max="1" step="0.01"
					       value="{{buzzer.volume}}" (input)="buzzer_setVolume($event)" aria-label="Volume value">
				</div>
			</div>
		}
	}
</div>
