.container {
	background: white;
	/*box-shadow: 0 0 12px 0 #00000073,
	inset 0 0 30px 13px #0000000d;*/
	box-shadow: 0 0 12px 0 #00000073, inset 0 0 7px 4px #0000000d;
	margin: 4px 2px;
	border: none;
	padding: 10px 10px; /* gora, boki */
	border-radius: 6px;
	max-width: 250px;
	display: flex;
	flex-direction: column;
}

input#componentName {
	width: 100%;
	padding: 5px;
	margin-top: 5px;
	border-radius: 4px;
	box-sizing: border-box;
	font-weight: bold;
}

input#componentName::selection {
	border: 1px solid #ccc;
}

#color {
	-webkit-appearance: none;
	appearance: none;
	border: none;
	width: 60px;
	height: 20px;
	border-radius: 12px;
	cursor: pointer;
	background: none;
	padding: 0;
	position: relative;
	top: 3px;
}

#color::-webkit-color-swatch-wrapper {
	padding: 0;
}

#color::-webkit-color-swatch {
	border-radius: 12px;
	border: 2px solid #ddd;
}

.category-container {
	display: flex;
	align-items: center;
	width: 100%;
	gap: 1rem;
	color: gray;
}

.category-bar {
	flex: 1;
	height: 1px;
	background: linear-gradient(
		to right,
		transparent,
		rgba(0, 0, 0, 0.15),
		transparent
	);
}

.category-title {
	white-space: nowrap;
	font-weight: 600;
	letter-spacing: 0.05em;
	text-transform: uppercase !important;
	opacity: 0.8;
	font-size: 9px !important;
}
