summary {
    cursor: pointer;
    margin: 5px;
    font-size: 12px;
    color: gray;
}

summary .material-symbols-outlined {
    font-size: 16px;
    top: 2.5px;
    left: -2px;
}

@keyframes open {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

@keyframes close {
    0% { opacity: 1 }
    100% { opacity: 0 }
}

details[open] summary ~ * {
    animation: open .5s
}

details.closing summary ~ * {
    animation: close .5s
}